### Save and Retrive Data from Redis
- https://redis.com/

In [1]:
import numpy as np
import pandas as pd
import redis

In [2]:
# Connect to Redis Client
# redis-18692.c57.us-east-1-4.ec2.cloud.redislabs.com:18692
# wCneC8tYJRuw0ovU9Kacbr9kgY4UmQdb
hostname = 'redis-18692.c57.us-east-1-4.ec2.cloud.redislabs.com'
portnumber = 18692
password = 'wCneC8tYJRuw0ovU9Kacbr9kgY4UmQdb'

r = redis.StrictRedis(host=hostname,
                      port=portnumber,
                      password=password)

In [5]:
r.ping()

True

In [6]:
#r.keys()

#### Load the data (numpy zip)

In [7]:
np_file = np.load('dataframe_students_teacher.npz',allow_pickle=True)
x_values = np_file['arr_0']
col_names = np_file['arr_1']

df = pd.DataFrame(x_values,columns=col_names)
df

,Name,Role,Facial_Features
0,Angelina Jolie,Student,"[0.43242058, 1.0748497, -0.128624, -1.8332914,..."
1,Barack Obama,Teacher,"[0.94858074, -0.5584053, 0.094820514, -1.27965..."
2,Chris Evans,Student,"[0.72017145, -1.468415, -0.7781255, -1.4601074..."
3,Morgan Freeman,Teacher,"[0.48535085, -0.61925495, -0.4069931, 1.068778..."
4,Scarlett Johansson,Student,"[0.19131936, -0.4884374, -1.6902335, 0.4423968..."

In [8]:
df['name_role'] = df['Name']+'@'+df['Role']
df

,Name,Role,Facial_Features,name_role
0,Angelina Jolie,Student,"[0.43242058, 1.0748497, -0.128624, -1.8332914,...",Angelina Jolie@Student
1,Barack Obama,Teacher,"[0.94858074, -0.5584053, 0.094820514, -1.27965...",Barack Obama@Teacher
2,Chris Evans,Student,"[0.72017145, -1.468415, -0.7781255, -1.4601074...",Chris Evans@Student
3,Morgan Freeman,Teacher,"[0.48535085, -0.61925495, -0.4069931, 1.068778...",Morgan Freeman@Teacher
4,Scarlett Johansson,Student,"[0.19131936, -0.4884374, -1.6902335, 0.4423968...",Scarlett Johansson@Student

In [16]:
records = df[['name_role','Facial_Features']].to_dict(orient='records')
len(records)

5

## Save data in Redis
- redis hashes
- keyname = 'academy:register'

In [20]:
for record in records:
    name_role = record['name_role']
    vector = record['Facial_Features']
    
    # convert numpy array into bytes
    vector_bytes = vector.tobytes()
    
    # save data into redis cloud
    r.hset(name='academy:register',key=name_role,value=vector_bytes)

In [29]:
vector.dtype

dtype('float32')

### Retrive Records from Redis

In [23]:
retrive_dict = r.hgetall(name='academy:register')
retrive_series = pd.Series(retrive_dict)
retrive_series

b'Morgan Freeman@Teacher'        b'\xe8\x7f\xf8>~\x87\x1e\xbffa\xd0\xbe\xbe\xcd...
b'Barack Obama@Teacher'          b'0\xd6r?\xa6\xf3\x0e\xbfB1\xc2=\xe1\xcb\xa3\x...
b'Angelina Jolie@Student'        b';f\xdd>\xad\x94\x89?\x03\xb6\x03\xbeK\xa9\xe...
b'Chris Evans@Student'           b'(]8?\x06\xf5\xbb\xbf<3G\xbf\xcd\xe4\xba\xbf\...
b'Scarlett Johansson@Student'    b'9\xe9C>x\x14\xfa\xbe\x92Y\xd8\xbf\xd8\x81\xe...
dtype: object

In [39]:
#np.frombuffer(retrive_series[b'Morgan Freeman@Teacher'],dtype=np.float32).shape
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x,dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))

In [40]:
retrive_series.index = index

In [44]:
retrive_df = retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role','facial_features']
retrive_df

,name_role,facial_features
0,Morgan Freeman@Teacher,"[0.48535085, -0.61925495, -0.4069931, 1.068778..."
1,Barack Obama@Teacher,"[0.94858074, -0.5584053, 0.094820514, -1.27965..."
2,Angelina Jolie@Student,"[0.43242058, 1.0748497, -0.128624, -1.8332914,..."
3,Chris Evans@Student,"[0.72017145, -1.468415, -0.7781255, -1.4601074..."
4,Scarlett Johansson@Student,"[0.19131936, -0.4884374, -1.6902335, 0.4423968..."

### Registration Form

In [26]:
import cv2
from insightface.app import FaceAnalysis

In [28]:
# configure face analysis
faceapp = FaceAnalysis(name='buffalo_sc',
                       root='insightface_model',
                       providers=['CPUExecutionProvider'])

faceapp.prepare(ctx_id=0, det_size=(640,640), det_thresh=0.5)
# warning: don't set det_thresh < 0.3

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

##### Step-1: Collect Person and Role

In [64]:
# python input
person_name = input('Enter your name: ')

trials = 3
for i in range(trials):
    role = input("""
    Please choose
    1. Student
    2. Teacher

    Enter number either 1 or 2
    """)
    
    if role in ('1','2'):
        if role == '1':
            role = 'Student'
        else:
            role = 'Teacher'
        
        break
    else:
        print('Invalid entry try again')
        if i == 3:
            print('Exceeds maximum trails')
            
key = person_name +'@'+ role
print('Your name = ', person_name)
print('Your role =', role)
print('Key =',key)

Enter your name: Sudheer

    Please choose
    1. Student
    2. Teacher

    Enter number either 1 or 2
    2
Your name =  Sudheer
Your role = Teacher
Key = Sudheer@Teacher

##### Step-2: Collect Samples

In [73]:
cap = cv2.VideoCapture(0) # 0 default camera, 1 external camera
face_embeddings = []
sample = 0
while True:
    ret, frame = cap.read()
    if ret == False:
        print('Unable to read camera')
        break
    # get results from insightface model
    results = faceapp.get(frame,max_num=1)
    for res in results:
        sample += 1
        x1, y1, x2, y2 = res['bbox'].astype(int)
        cv2.rectangle(frame, (x1,y1),(x2,y2),(0,255,0),1)
        
        # facial features
        embeddings = res['embedding']
        face_embeddings.append(embeddings)
        
    if sample >= 200: 
        break
    
    cv2.imshow('frame',frame)
    if cv2.waitKey(1) == ord('q'): # this is trigger only when I press letter q (lowercase q) in my keyboard
        break
        
cap.release()
cv2.destroyAllWindows()

In [74]:
len(face_embeddings)

200

##### Step-3: Optimize Data & Save in Redis Database

In [81]:
x_mean = np.asarray(face_embeddings).mean(axis=0)
x_mean.shape

(512,)

In [82]:
# convert into bytes
x_mean_bytes = x_mean.tobytes()

In [83]:
# save key and facial bytes into redis database
r.hset(name='academy:register',key=key,value=x_mean_bytes)

1