## Predictions
URL: https://www.udemy.com/user/freeai-space/

In [1]:
import face_rec

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: insightface_model\models\buffalo_sc\w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

In [5]:
import pandas as pd
import numpy as np
import cv2

In [2]:
face_rec.r.ping()

True

#### Step-1: Extract Data from database

In [10]:
name = 'academy:register'
retrive_dict= face_rec.r.hgetall(name)
retrive_series = pd.Series(retrive_dict)
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x,dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))
retrive_series.index = index
retrive_df =  retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role','facial_features']
retrive_df[['Name','Role']] = retrive_df['name_role'].apply(lambda x: x.split('@')).apply(pd.Series)
retrive_df

,name_role,facial_features,Name,Role
0,Chris Evans@Student,"[0.72017145, -1.468415, -0.7781255, -1.4601074...",Chris Evans,Student
1,Barack Obama@Teacher,"[0.94858074, -0.5584053, 0.094820514, -1.27965...",Barack Obama,Teacher
2,Sudheer@Teacher,"[0.3172295, -0.1519747, 0.28519362, 0.26620007...",Sudheer,Teacher
3,Scarlett Johansson@Student,"[0.19131936, -0.4884374, -1.6902335, 0.4423968...",Scarlett Johansson,Student
4,Angelina Jolie@Student,"[0.43242058, 1.0748497, -0.128624, -1.8332914,...",Angelina Jolie,Student
5,Morgan Freeman@Teacher,"[0.48535085, -0.61925495, -0.4069931, 1.068778...",Morgan Freeman,Teacher

### Step-2: Get Real - Time Prediction

In [18]:
cap = cv2.VideoCapture(1) # default , # 1 for external camera

while True:
    ret, frame = cap.read()
    
    if ret == False:
        break
        
    pred_frame = face_rec.face_prediction(frame,retrive_df,'facial_features',['Name','Role'],thresh=0.5)
    
    #cv2.imshow('frame',frame)
    cv2.imshow('prediciton',pred_frame)
    
    if cv2.waitKey(1) == 27: # if i press esc button this condition will get trigged
        break
        
cv2.destroyAllWindows()
cap.release()

### [END](https://www.udemy.com/user/freeai-space/)